# Ignored files
*.exe*
/.bash_history
/.bashrc
/.gitconfig
*.env
.sass-cache
.jekyll-metadata

# Ignored folders
/.build/
/.cache/
/.task/
/dist/
/bin/
/.bin-*/
/.bin/
/.local/
/.logs/
/.devcontainer/
/assets/gifs/
/.analysis/
/.experiments/
/.tasks/
/TOOLS.md
